{{ define "main" }}
  {{ partial "page-title.html" . }}

  <section class="section blog-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            {{ range .Pages }}
            <div class="col-lg-12 col-md-12 mb-5">
              <div class="blog-item">
                {{ with .Params.image }}
                <div class="blog-thumb">
                  <img src="{{ . | relURL }}" alt="" class="img-fluid rounded">
                </div>
                {{ end }}
                <div class="blog-item-content">
                  <h3 class="mt-3 mb-3"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
                  <div class="blog-item-meta mb-3">
                    <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> {{ .Date.Format "02.01.2006" }}</span>
                    {{ with .Params.category }}
                    <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>{{ . }}</span>
                    {{ end }}
                  </div>
                  <p class="mb-4">{{ .Summary }}</p>
                  <a href="{{ .RelPermalink }}" class="btn btn-small btn-main">{{ $.Params.labels.read_more | default "Weiterlesen" }}</a>
                </div>
              </div>
            </div>
            {{ end }}
          </div>

          <div class="row mt-5">
            <div class="col-lg-8">
              {{ template "_internal/pagination.html" . }}
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          {{ partial "post-sidebar.html" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
