{{ define "main" }}
  {{ partial "page-title.html" . }}

  <section class="section blog-wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-8">
          <div class="row">
            <div class="col-lg-12 mb-5">
              <div class="single-blog-item">
                {{ with .Params.image }}
                <img src="{{ . | relURL }}" alt="" class="img-fluid rounded">
                {{ end }}

                <div class="blog-item-content mt-4">
                  <h2 class="mt-3 mb-3 text-md"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
                  <div class="blog-item-meta mb-5">
                    {{ with .Params.category }}
                    <span class="text-muted text-capitalize mr-3"><i class="ti-pencil-alt mr-2"></i>{{ . }}</span>
                    {{ end }}
                    <span class="text-black text-capitalize mr-3"><i class="ti-time mr-1"></i> {{ .Date.Format "02.01.2006" }}</span>
                  </div>

                  {{ .Content }}

                  {{ with .Params.gallery }}
                  <div class="blog-gallery mt-4 mb-4">
                    <div class="row">
                      {{ range . }}
                      <div class="col-md-4 col-6 mb-3">
                        <a href="{{ .src | relURL }}" class="glightbox" data-gallery="blog-gallery" data-description="{{ .description }}">
                          <img src="{{ .src | relURL }}" alt="{{ .description }}" class="img-fluid rounded" style="width:100%;height:200px;object-fit:cover;">
                        </a>
                      </div>
                      {{ end }}
                    </div>
                  </div>
                  {{ end }}

                  {{ with .Params.tags }}
                  <div class="tag-option mt-5 clearfix">
                    <ul class="float-left list-inline">
                      {{ range . }}
                      <li class="list-inline-item"><a href="{{ "tags/" | relURL }}{{ . | urlize }}/">{{ . }} /</a></li>
                      {{ end }}
                    </ul>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          {{ partial "post-sidebar.html" . }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
