{{ with .Site.Data.counters }}
<!-- section Counter Start -->
<section class="section counter">
  <div class="container">
    <div class="row">
      {{ range .items }}
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="counter-item text-center mb-5 mb-lg-0">
          <h2 class="mb-0"><span class="counter-stat font-weight-bold">{{ .number }}</span> {{ .suffix }}</h2>
          <p>{{ .label }}</p>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
<!-- section Counter End  -->
{{ end }}
