<section class="page-title bg-1" style="background-image: url('{{ .Params.images.page_title_bg | default "images/bg/section-bg5.jpg" | relURL }}')">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">{{ .Params.description | default .Title }}</span>
          <h1 class="text-capitalize mb-5 text-lg">{{ .Title }}</h1>

          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{{ "/" | relURL }}" class="text-white">Start</a></li>
            {{ if .Parent }}{{ if not .Parent.IsHome }}
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="{{ .Parent.RelPermalink }}" class="text-white">{{ .Parent.Title }}</a></li>
            {{ end }}{{ end }}
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><span class="text-white-50">{{ .Title }}</span></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
