<section class="page-title bg-1">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block text-center">
          <span class="text-white">{{ .Params.description | default .Title }}</span>
          <h1 class="text-capitalize mb-5 text-lg">{{ .Title }}</h1>

          <ul class="list-inline breadcumb-nav">
            <li class="list-inline-item"><a href="{{ "/" | relURL }}" class="text-white">Start</a></li>
            <li class="list-inline-item"><span class="text-white">/</span></li>
            <li class="list-inline-item"><a href="#" class="text-white-50">{{ .Params.description | default .Title }}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
