{{ $labels := .Params.labels }}
{{ $blogSection := where .Site.RegularPages "Section" "blog" }}

<div class="sidebar-wrap pl-lg-4 mt-5 mt-lg-0">
  <div class="sidebar-widget latest-post mb-3">
    <h5>{{ $labels.latest_posts | default "Latest Posts" }}</h5>
    {{ range first 3 (sort $blogSection "Date" "desc") }}
    <div class="media py-3">
      {{ with .Params.image }}
      <a href="{{ $.Permalink }}"><img class="mr-4" src="{{ . | relURL }}" alt="" style="width:100px;height:auto"></a>
      {{ end }}
      <div class="media-body">
        <span class="text-sm text-muted">{{ .Date.Format "02.01.2006" }}</span>
        <h6 class="my-2"><a href="{{ .Permalink }}">{{ .Title }}</a></h6>
      </div>
    </div>
    {{ end }}
  </div>

  {{ with .Site.Taxonomies.categories }}
  <div class="sidebar-widget category mb-3">
    <h5 class="mb-4">{{ $labels.categories | default "Categories" }}</h5>
    <ul class="list-unstyled">
      {{ range $name, $pages := . }}
      <li class="align-items-center"><a href="{{ "categories/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a><span>({{ len $pages }})</span></li>
      {{ end }}
    </ul>
  </div>
  {{ end }}

  {{ with .Site.Taxonomies.tags }}
  <div class="sidebar-widget tags mb-3">
    <h5 class="mb-4">{{ $labels.tags | default "Tags" }}</h5>
    {{ range $name, $pages := . }}
    <a href="{{ "tags/" | relURL }}{{ $name | urlize }}/">{{ $name }}</a>
    {{ end }}
  </div>
  {{ end }}
</div>
