{{- with .Site.Data.localbusiness -}}
{{- $d := . -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": "{{ site.BaseURL }}#localbusiness",
  "name": "{{ site.Title }}",
  "description": "{{ site.Params.description }}",
  "url": "{{ site.BaseURL }}",
  "telephone": "{{ $d.telephone }}",
  "email": "{{ $d.email }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ $d.address.streetAddress }}",
    "addressLocality": "{{ $d.address.addressLocality }}",
    "postalCode": "{{ $d.address.postalCode }}",
    "addressRegion": "{{ $d.address.addressRegion }}",
    "addressCountry": "{{ $d.address.addressCountry }}"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": {{ $d.geo.latitude }},
    "longitude": {{ $d.geo.longitude }}
  },
  "areaServed": [
    {{- range $i, $area := $d.areaServed }}
    {{ if $i }},{{ end }}{ "@type": "{{ $area.type }}", "name": "{{ $area.name }}" }
    {{- end }}
  ],
  "knowsAbout": [
    {{- range $i, $topic := $d.knowsAbout }}
    {{ if $i }},{{ end }}"{{ $topic }}"
    {{- end }}
  ],
  "sameAs": [
    {{- range $i, $url := $d.sameAs }}
    {{ if $i }},{{ end }}"{{ $url }}"
    {{- end }}
  ]
}
</script>
{{- end -}}
