<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": "{{ .Site.BaseURL }}#localbusiness",
  "name": "{{ .Site.Title }}",
  "description": "{{ .Site.Params.description }}",
  "url": "{{ .Site.BaseURL }}",
  "telephone": "+49 2174 3404",
  "email": "info@naturbaukonzepte.de",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Holzer Str. 20",
    "addressLocality": "Burscheid",
    "postalCode": "51399",
    "addressRegion": "NRW",
    "addressCountry": "DE"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 51.0833,
    "longitude": 7.1167
  },
  "areaServed": [
    {
      "@type": "City",
      "name": "Burscheid"
    },
    {
      "@type": "City",
      "name": "Leverkusen"
    },
    {
      "@type": "City",
      "name": "Köln"
    },
    {
      "@type": "City",
      "name": "Düsseldorf"
    },
    {
      "@type": "State",
      "name": "Nordrhein-Westfalen"
    },
    {
      "@type": "AdministrativeArea",
      "name": "Bergisches Land"
    }
  ],
  "knowsAbout": [
    "Fachwerksanierung",
    "Altbausanierung",
    "Fenstersanierung",
    "Denkmalpflege",
    "Ökologische Sanierung",
    "Lehmbau",
    "Energetische Sanierung"
  ],
  "sameAs": [
    "https://www.instagram.com/naturbaukonzepte/"
  ]
}
</script>
