{{ with .Params.slider }}
<!-- Slider Start -->
<section class="banner d-flex align-items-center" style="background-image: url('{{ .bg_image | default "images/bg/main-banner1.jpg" | relURL }}')">
  <div class="banner-img-part" style="background-image: url('{{ .banner_img | default "images/bg/bg-half.png" | relURL }}')"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-md-12 col-xl-8">
        <div class="block">
          <span class="text-uppercase text-sm letter-spacing ">{{ .subtitle }}</span>
          <h1 class="mb-3 mt-3">{{ .title }}</h1>
          <p class="mb-5">{{ .description }}</p>
          <a href="{{ .button_link | relURL }}" class="btn btn-main">{{ .button_text }}<i class="fa fa-angle-right ml-2"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
